
{% extends 'base.html' %}
{% include 'navbar.html' %}
{% import 'profilemacro.html' as macros %}

 {% block styles %}

<link
  rel="stylesheet"
  href="{{url_for('static',filename = 'css/profile.css')}}"
/>
<link
  rel="stylesheet"
  href="{{url_for('static',filename = 'css/profilemacro.css')}}"
/>
{% endblock %}


{% block content %}

<div class="main">
  <p class="prof">Profile</p>

    <div class="profile">

      <div class="img">
        {% if user.pic_path %}
        <img src="{{url_for('static',filename=user.pic_path)}}" alt="">
        
        
        {% else %}
        <p>add photo and click submit</p>
       
        {% endif%}

        {% if user == current_user %}
        <form class="pic_form"
         action="{{url_for('main.update_pic',uname = user.username)}}" method="post" enctype="multipart/form-data">
         <label for="photo">
           Upload profile picture
          <input type="file" id="photo"
          name="photo" class="form-control" required>
         </label>
          
          <input type="submit">
      </form>
          {% endif %}
      </div>
     
       <div class="details">
         <div class="uname">
           <p class="ttl">Username:</p>
           <p>{{user.username}}</p>
         </div>
         <div class="email">
          <p class="ttl">Email:</p>
          <p>{{user.email}}</p>
        </div>
        <div class="bio">
          <p class="ttl">Bio:</p>
          {% if user.bio %}
          <p>{{user.bio}}</p>
          {% else %}
          <p></p>
          {% endif %}
        </div>
        {% if user == current_user %}
            <a href="{{url_for('main.edit_profile',uname = user.username)}}">
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M4.42 20.579a1 1 0 0 1-.737-.326a.988.988 0 0 1-.263-.764l.245-2.694L14.983 5.481l3.537 3.536L7.205 20.33l-2.694.245a.95.95 0 0 1-.091.004ZM19.226 8.31L15.69 4.774l2.121-2.121a1 1 0 0 1 1.415 0l2.121 2.121a1 1 0 0 1 0 1.415l-2.12 2.12l-.001.001Z"/></svg>
              Edit Profile</a>
              {% endif %}
        

       </div>
    </div>

    <div class="pitches">
      <h1>My Pitches</h1>
       {{macros.displayPitches(pitches)}}

    </div>

</div>

{% endblock %}