.main {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin: 10% auto;
  min-height: 80vh;
  border-radius: 2%;
  padding: 5% 0;
  position: relative;
}

.prof {
  position: relative;
  top: 0;
  margin-top: -2%;
  left: 5%;
  color: #fff;
  font-size: 1.5rem;
}
.prof::before {
  display: inline;
  content: "";
  position: absolute;
  background-color: #3bc5c6;
  left: -2%;
  top: 50%;
  transform: translateY(-50%);
  height: 15%;
  border-radius: 10px;
  width: 15px;
}

.profile {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  color: #fff;
  width: 60%;
  margin: 0 auto;
  padding: 5%;
  border-radius: 2%;
}
.img {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.img img {
  width: 50%;
  height: auto;
}

.pic_form {
  display: flex;
  gap: 10px;
  margin-top: 2%;
  flex-direction: column;
}

.pic_form input[type="file"] {
  display: none;
}
label {
  cursor: pointer;
}

.pic_form input {
  padding: 4% 10%;
  background-color: #3bc5c6;
  align-self: flex-start;
  color: #fff;
  border: none;
}

.img a {
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
}
.img a {
  padding: 6% 5%;
  background-color: #3bc5c6;
}
.details {
  margin-left: -15%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.ttl {
  color: #3bc5c6;
}

.details a {
  padding: 5px 14px;
  align-self: flex-start;
  border-radius: 7px;
  margin-top: 5%;
  border: 1px solid #3bc5c6;
  text-decoration: none;
  color: #fff;
}
.details a svg {
  color: #3bc5c6;
}

.pitches h1 {
  color: #3bc5c6;
  font-size: 1.3vw;
  margin-left: 5%;
  text-decoration: underline;
}
