@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.lg {
  margin-left: 2%;
  position: relative;
}
.logo {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  z-index: 1;
  position: relative;
}


.title-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-cont p {
  color: whitesmoke;
  transition: color 1s ease-in;
}
.title-cont p a {
  text-decoration: none;
  font-style: italic;
  color: #e8c020;
  transition: color 1s ease-in;
}

.title-cont p a:hover {
  color: white;
}
.register-form {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5% 8%;
  border-radius: 5px;
  width: 70%;
  margin: 5% auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin: 0 auto;
  padding: 5% 0;
}
input[type = 'text'],input[type='password']{
  padding: 2%;
  border-radius: 5px;
  width: 80%;
  border: 1px solid #e8c020;
  outline: none;
  background-color: transparent;
  color: #fff;
  margin-top: 1%;
}
label{
  display: block;
  margin-top: 1%;
}

.cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type = 'submit'] {
  align-self: flex-start;
  padding: 2% 7%;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  margin-top: 2%;
  border: 1px solid #e8c020;
  transition: all 1s ease-in;
}
input[type = 'submit']  {
  background-color: #e8c020;
}
label {
  color: whitesmoke;
}
.ttl {
  color: white;
}
.sub {
  display: flex;
  gap: 5%;
  align-items: center;
}
.sub a {
  text-decoration: none;
  font-style: italic;
  color: #fff;
  transition: color 1s ease-in;
}
.sub a:hover {
  color: #e8c020;
}

.forgot{
  display: flex;
 
}
