
    {% block styles %}
    <link
    rel="stylesheet"
    href="{{url_for('static',filename = 'css/navbar.css')}}"
  />
{%endblock%}
<button class="show"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M4 11h12v2H4zm0-5h16v2H4zm0 12h7.235v-2H4z"/></svg></button>
<header>
      <button class="hide" >X</button>
      <div class="lg">
        <p class="logo">pitch perfect</p>
      </div>

       <nav>
           <ul>
            <li><a href="{{url_for('main.index')}}">All Pitches</a></li>
            <li><a href="{{url_for('main.pick')}}">Pick Up lines</a></li>
            <li><a href="{{url_for('main.promotion')}}">Product Promotion</a></li>
            <li><a href="{{url_for('main.product_pitch')}}">Product Pitch</a></li>
            <li><a href="{{url_for('main.comedy')}}">Comedy</a></li>
            <li><a href="{{url_for('main.interview')}}">Interview</a></li>
            
         
           </ul>
      </nav>
      <div class="add">
        <p><a href="{{url_for('main.post')}}"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2C6.486 2 2 5.589 2 10c0 2.907 1.897 5.515 5 6.934V22l5.34-4.005C17.697 17.853 22 14.32 22 10c0-4.411-4.486-8-10-8zm4 9h-3v3h-2v-3H8V9h3V6h2v3h3v2z"/></svg>add pitch</a></p>


      </div>
    
      <div class="login">
        {% if current_user.is_authenticated %}
           
               <div class="auth">
                <p class="nm">
                    <a href="{{url_for('main.profile',uname=current_user.username)}}">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><g fill="currentColor"><path d="M11 6a3 3 0 1 1-6 0a3 3 0 0 1 6 0z"/><path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/></g></svg>
                        {{current_user.username}}</a></p>
                <p class="signout">
                  <a href="{{url_for('auth.logout')}}">Sign out</a></p>
               </div>
                 
        {% else %}
           <div class="signin">
            <p><a href="{{url_for('auth.login')}}">Sign in</a></p>
            <p><a href="{{url_for('auth.register')}}">Register</a></p>

           </div>
        
        {% endif %}
       </div>
     
    
</header>


{% block scripts %}
<script src="{{url_for('static', filename = './js/index.js')}}"></script>

{% endblock %}