{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block styles %}

<link rel="stylesheet" href="{{url_for('static',filename = 'css/post.css')}}">
{% endblock %}

{%  block content %}
 <div class="pitch-form">
    <h2 class="ttl">Post Your Pitch</h2>
    <form method="post">
      <div class="title-div cont">
        <label for="title">Title</label>
       
        <input
          type="text"
          id="title"
          placeholder="Enter the title"
          required
          name="title"
          
        />
      </div>
      <div class="author-div cont">
        <label for="category">Category</label>
         <select name="category" id="category">
            <option value="Pick Up lines">Pick Up lines</option>
            <option value="Promotion">Promotion</option>
            <option value="Product Pitch">Product Pitch </option>
            <option value="Comedy">Comedy</option>
            <option value="Interview">Interview</option>
         </select>
      </div>
      <div class="pitch-div cont">
        <label for="pitch">Pitch</label>
        <textarea
          id="pitch"
          name="pitch"
          cols="30"
          rows="10"
          required
          placeholder="Enter The Pitch"
        ></textarea>
      </div>
      <button
        type="submit"
      >
        Post
      </button>
    </form>
  </div>

{% endblock %}